@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth; /* Makes the back-to-top button glide smoothly */
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}